.footer {
  margin-bottom: 60px;

  @include tablet-md {
    margin-bottom: 40px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 4px;
  }

  &__company {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 28px;
    grid-column: span 2;
  }

  &__logo {
    height: 40px;
  }

  &__contacts {
    grid-row: 2 / 3;
    grid-column: span 2;
  }

  &__descr {
    max-width: 180px;
    margin: 0;
    font-size: 14px;
    line-height: 100%;
  }

  &__menu {
    margin-right: 25px;
    padding: 30px;
    border-radius: 6px;
    background-color: var(--bg-dark-grey);
    color: var(--white);

    grid-column: span 4;
  }

  &__policies {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
    max-width: 231px;

    & .footer-menu__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    color: var(--grey-1);
    text-decoration: underline;
    transition: color var(--transition-300);

    &:hover {
      color: var(--white);
    }

    &:focus {
      outline: none;
      color: var(--white);
    }
  }
  }
}
