.news {
  // .news__container
  &__container {
  }

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    width: calc(100% / 3 - 20px * 2 / 3);

    .card-news {
      height: 100%;
    }
  }
}
