.single-services {
  &__heading {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }

  &__content {
    padding-top: 30px;
    max-width: 510px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__shortdescr {
    margin: 0 0 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: var(--grey-2);
  }

  &__bgimg {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 620px;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__special {
    .accordion__item {
      border-radius: 0;
      background-color: transparent;
    }
    .accordion__control {
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      padding: 0;
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      color: var(--black);
    }
    .accordion__icon svg {
      width: 19px;
      height: 11px;
      stroke-width: 2px;
      stroke: var(--black);
    }
    .is-open .accordion__icon svg {
      transform: rotate(180deg);
    }
    .accordion__content {
      padding: 0;
    }
    .is-open .accordion__content {
      padding-top: 30px;
    }
    .special__descr {
      p {
        margin: 0;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        color: var(--black);
      }
      p:not(:last-child) {
        margin-bottom: 1.2em;
      }
      strong {
        font-weight: 700;
      }
    }
  }
}
