.steps {
  --sec-bg: var(--bg-light);
  --sec-color: var(--black);

  &__title {
    color: var(--sec-color);
  }
  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: var(--sec-color);
  }

  &__item {
    display: flex;
    width: calc(100% / 3 - 20px * 2 / 3);
  }
  &__img {
    display: flex;
    border-radius: 10px;
    overflow: clip;

    & img {
      .steps__item:nth-child(odd) & {
        aspect-ratio: 250 / 344;
      }
      .steps__item:nth-child(even) & {
        aspect-ratio: 465 / 366;
      }
    }
  }
}
.card-steps {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 16px;
  padding: 30px;
  padding-bottom: 72px;
  color: currentColor;
  background-color: var(--white);

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: attr(data-step);
    font-weight: 700;
    font-size: 90px;
    line-height: 0.8;
    color: var(--accent-green);
    opacity: 0.5;
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: currentColor;
  }
  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: currentColor;
  }
}
