.steps {
  // --sec-bg: var(--bg-light);
  // --sec-color: var(--black);

  &__title {
    color: currentColor;
  }
  // &__list {
  //   @include list-reset;
  //   display: grid;
  //   grid-template-columns: repeat(10, 1fr);
  //   gap: 20px;
  //   color: currentColor;
  // }
  // &__item {
  //   grid-column: 3 span;
  //   display: flex;

  //   &:first-child {
  //     grid-column: 4 span;
  //   }
  //   &:nth-child(4) {
  //     grid-column: 4 span;
  //   }
  // }

  // &__list {
  //   @include list-reset;
  //   display: grid;
  //   grid-template-columns: repeat(12, 1fr);
  //   gap: 20px;
  //   color: currentColor;
  // }
  // &__item {
  //   grid-column: 4 span;
  //   display: flex;
  //   &:first-child {
  //     grid-column: 5 span;
  //   }
  //   &:nth-child(3) {
  //     grid-column: 3 span;
  //   }
  // }

  &__list {
    @include list-reset;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: currentColor;

    @include tablet {
      gap: 16px;
    }

    @include tablet-md {
      flex-direction: column;
    }
  }
  &__item {
    display: flex;
    width: calc(100% / 3 - 20px * 2 / 3);

    &:nth-child(6n + 1),
    &:nth-child(6n + 4) {
      width: 36%;

      @include desktop {
        width: calc(100% / 3 - 20px * 2 / 3);
      }
    }
    &:nth-child(6n + 3),
    &:nth-child(6n + 6) {
      width: calc(100% - 36% - (100% / 3 - 20px * 2 / 3) - 20px * 2);

      @include desktop {
        width: calc(100% / 3 - 20px * 2 / 3);
      }
    }
    @include tablet {
      &:nth-child(n) {
        width: calc(100% / 2 - 20px * 1 / 2);
      }
    }
    @include tablet-md {
      &:nth-child(n) {
        width: 100%;
      }
    }
  }

  &__img {
    display: flex;
    border-radius: 10px;
    overflow: clip;

    & img {
      .steps__item:nth-child(odd) & {
        width: 100%;
        // aspect-ratio: 250 / 344;
        aspect-ratio: 1 / 1;

        @include tablet {
          aspect-ratio: 4 / 3;
        }

        @include tablet-md {
          aspect-ratio: 343 / 210;
        }
      }
      .steps__item:nth-child(even) & {
        width: 100%;
        aspect-ratio: 465 / 366;

        @include tablet {
          aspect-ratio: 4 / 3;
        }

        @include tablet-md {
          aspect-ratio: 343 / 210;
        }
      }
    }
  }
}
