@mixin input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  outline: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
  }
}
