.card-steps {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 16px;
  padding: 30px;
  padding-bottom: 72px;
  color: var(--black);
  background-color: var(--white);

  @include tablet {
    padding: 24px;
    padding-bottom: 64px;
  }

  @include mobile {
    padding: 16px;
    padding-bottom: 60px;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: attr(data-step);
    font-weight: 700;
    font-size: 90px;
    line-height: 0.8;
    color: var(--accent-green);
    opacity: 0.5;

    @include mobile {
      font-size: 70px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: currentColor;

    @include mobile {
      margin-bottom: 18px;
      font-size: 20px;
    }
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: currentColor;
  }
}
