.cookie-notice {
  --cookie-bg: var(--bg-dark-grey);
  --cookie-width: 500px;
  --cookie-offset: 40px;
  --cookie-pr: 20px;
  --cookie-pb: 20px;

  --cookie-fw: 400;
  --cookie-fz: 20px;
  --cookie-lh: 130%;
  --cookie-color: var(--white);
  --cookie-link: var(--accent-green);

  --cookie-border-radius: 40px;

  --cookie-padding: 40px;
  --cookie-btn-width: 100%;

  @include tablet-md {
    --cookie-width: 400px;
    --cookie-offset: 16px;
    --cookie-padding: 24px 16px;
    --cookie-fz: 16px;
    --cookie-border-radius: 24px;
  }

  @include mobile {
    --cookie-pr: 0;
    --cookie-pb: 0;
  }

  position: fixed;
  right: var(--cookie-pr);
  bottom: var(--cookie-pb);
  z-index: 100;
  display: none;
  border-radius: var(--cookie-border-radius);
  padding: var(--cookie-padding);
  max-width: var(--cookie-width);
  color: var(--cookie-color);
  background-color: var(--cookie-bg);
  transform: translateY(100%);
  opacity: 0;
  transition:
    opacity var(--transition-300),
    transform var(--transition-300);

  &.is-visible {
    display: block;
    transform: translateY(0);
    opacity: 1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--cookie-offset);
  }

  &__text {
    & p {
      margin: 0;
      font-weight: var(--cookie-fw);
      font-size: var(--cookie-fz);
      line-height: var(--cookie-lh);
      color: currentColor;

      & strong {
        display: inline-block;
        margin: 0 0 16px;
        font-weight: 700;

        @include mobile {
          margin: 0 0 8px;
        }
      }
    }

    & a {
      display: inline;
      text-decoration: underline;
      // text-decoration-skip-ink: none;
      // text-underline-offset: 4px;
      text-underline-offset: 2px;
      color: var(--cookie-link);
      cursor: pointer;
      transition: color var(--transition-300);

      &:hover {
        color: var(--accent-dark-green);
      }

      &:hover {
        outline: none;
        color: var(--accent-dark-green);
      }
    }
  }

  &__btn {
    width: 100%;
  }
}
