.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include desktop {
    flex-wrap: wrap;
    gap: 20px 21px;
    justify-content: space-evenly;
  }

  @include mobile {
    justify-content: center;
    gap: 20px 26px;
  }

  & .ui-link {
    @include mobile {
      font-size: 12px;
    }
  }
}
