.form-field {
  --input-color-hover: var(--accent-green);

  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 5px;
  border: 2px solid var(--white);
  padding: 24px 16px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #7b7b7b;
  background: var(--white);

  @include tablet-lg {
    padding: 20px 16px;
  }

  @include mobile {
    padding: 8px 16px;
    font-size: 12px;
  }

    & img {
      width: 16px;
      height: 16px;

      @include mobile {
        width: 12px;
        height: 12px;
      }
    }

    &:hover {
      border-color: var(--input-color-hover);       
    }

    &:focus {
      outline: none;
      border-color: var(--input-color-hover);
    }

    &:focus-visible {
      outline: none;
      border-color: var(--input-color-hover);
    }

    &:active {
      border-color: var(--input-color-hover);
    }

    &:has(.wpcf7-not-valid-tip) {
      border-color: #C54A4A; 
    }

  &--file {
    margin: 24px 0;
    padding: 0;
    border: none;
    background-color: transparent;

    @include mobile {
      margin: 16px 0;
    }
  }

  &__label {
    display: none;
  }

  &__input {
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--bg-main);
    border: none;

    @include mobile {
      font-size: 12px;
    }

    &::placeholder {
      font-family: var(--font-family);
      font-size: 16px;
      line-height: 130%;
      color: #7B7B7B;

      @include mobile {
        font-size: 12px;
      }
    }

    &:focus-visible {
      outline: none;

      &::placeholder {
        opacity: 0;
      }
    }

    &--textarea {
      height: 20px;
      overflow: hidden;
      resize: none;
    }
  }

  &__file {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: start;
    cursor: pointer;

    &:hover label {
      color: var(--accent-green);
    }

    & img {
      width: 20px;
      height: 20px;
    }

    & .form-field__label {
      display: block;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: var(--white);
      cursor: pointer;
      transition: color var(--transition-300);
      word-break: break-all;

      @include mobile {
        font-size: 12px;
      }
    }

    & .wpcf7-not-valid-tip {
      position: absolute;
      font-size: 12px;
      width: 400px;
      left: 7px;
      bottom: -30px;

      @include mobile {
        width: 250px;
        bottom: -23px;
      }
    }
  }

}
