form,
.form {
  &__control {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 300px;
  padding: 20px;
  margin: 0;
  border-radius: 12px;
  border: 1px solid #c54a4a;
  line-height: 130%;
  background-color: var(--bg-dark-grey);
  z-index: 9999;
}

.wpcf7 form.sent .wpcf7-response-output {
  display: none;
}
