.layout-catalog {
   &__heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 32px;
   }

   & .layout__subtitle {
      margin-bottom: 0;
   }

   &__type {
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
      color: var(--bg-main);
   }

   &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      counter-reset: catalog-counter;
   }

   &__item {
      display: flex;
      align-items: center;
      padding: 24px 0;
      counter-increment: catalog-counter;
      border-top: 1px solid var(--grey-1);
   }

   &__count {
      margin-right: 87px;
      flex-shrink: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
   }

   &__count::before {
      content: counter(catalog-counter, decimal-leading-zero); 
   }

   &__file {
      display: flex;
      align-items: center;
      gap: 12px;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
   }

   &__link {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-left: auto;
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: var(--accent-green);

      & svg {
         width: 24px;
         height: 24px;
         stroke: var(--accent-green);
         fill: none;
         stroke-width: 1.5px;
      }
   }
}