.messanges {
  --messanges-size: 56px;
  --messanges-size-icon: 16px;
  --messanges-link-bg: var(--bg-dark-grey);
  --messanges-link-bg-hover: var(--accent-dark-green);
  --messanges-br: 5px;

  @include list-reset;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 8px;

  @include mobile {
    gap: 4px;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--messanges-br);
    width: var(--messanges-size);
    height: var(--messanges-size);
    background-color: var(--messanges-link-bg);
    cursor: pointer;
    transition: background-color var(--transition-300);

    &:focus-visible,
    &:active {
      outline: none;
      background-color: var(--messanges-link-bg-hover);
    }

    @include hover {
      outline: none;
      background-color: var(--messanges-link-bg-hover);
    }

    & img {
      flex-shrink: 0;
      width: var(--messanges-size-icon);
      height: var(--messanges-size-icon);
      user-select: none;
    }
  }
}
