.message-success {
   position: relative;
   color: var(--white);

   &__title {
      margin: 0 0 30px;
      font-weight: 700;
      font-size: 58px;
      line-height: 100%;
   }

   &__text {
      margin: 0;
      font-weight: 400;
      font-size: 20px;
      line-height: 130%;
   }
}