.nav {
  --navlink: var(--white);
  --navlink-current: var(--accent-green);
  --navlink-hover: var(--accent-green);
  --submenu-bg: var(--bg-main);

  color: var(--white);

  @include tablet {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 16px 24px;
    width: 375px;
    height: calc(100vh - 140px);
    background-color: var(--bg-main);
    border-radius: 0 0 24px 24px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition:
      opacity var(--transition-500),
      visibility var(--transition-500),
      transform var(--transition-500);

    @media (max-width: 640px) {
      height: calc(100vh - 125px);
    }

    @include mobile {
      min-width: 100%;
      height: calc(100vh - 107px);
      padding-top: 0;
    }

    &.is-open {
      opacity: 1;
      visibility: visible;
      // transform: scaleY(1);
      transform: translateX(0);
    }
  }

  & > ul:not(.messanges) {
    @include list-reset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    @media (max-width: (1300px)) {
      gap: 8px;
    }

    @include tablet {
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      gap: 15px;
      padding: 0;
      width: 100%;
      min-width: 375px;
      overflow-y: auto;
    }

    // @include mobile {
    //   min-width: 100%;
    // }
  }

  & [data-dropdown] {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;

    @include tablet {
      position: relative;
      flex-wrap: wrap;
      // webkit-box-pack: justify;
      // -ms-flex-pack: justify;
      // justify-content: space-between;
      width: 100%;
    }
  }

  & [data-dropdown-open] {
    @include btn-reset;
    display: flex;
    color: var(--navlink);
    cursor: pointer;
    transition: color var(--transition-300);

    & svg {
      width: 16px;
      height: 16px;
      fill: currentColor;
      user-select: none;
      pointer-events: none;
      transition: transform var(--transition-300);

      @include tablet {
        width: 24px;
        height: 24px;
      }
    }
  }

  & [data-menu-item] {
    font-weight: 400;
    font-size: 15px;
    // color: var(--navlink);
    transition: color var(--transition-300);
    white-space: nowrap;

    @include tablet {
      font-size: 20px;
      font-weight: 700;
    }

    @include hover {
      // color: var(--navlink-hover);

      & ~ [data-dropdown-open] {
        color: var(--navlink-hover);
      }
    }

    &:focus-visible {
      // outline: none;
      // color: var(--navlink-hover);

      & ~ [data-dropdown-open] {
        color: var(--navlink-hover);
      }
    }
  }

  & [data-menu-item][aria-current="page"] {
    color: var(--navlink-current);

    & ~ [data-dropdown-open] {
      color: var(--navlink-current);
    }
  }

  & [data-dropdown].is-open > ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  & [data-dropdown].is-open > [data-menu-item] {
    color: var(--navlink-hover);
  }

  & [data-dropdown].is-open > [data-dropdown-open] {
    color: var(--navlink-hover);

    & svg {
      transform: rotate(180deg);
    }
  }

  & [data-dropdown].is-open > [data-dropdown-open] svg {
    @include desktop {
      transform: rotate(180deg);
    }
  }

  & .sub-menu {
    @include list-reset;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 9px 0 0;
    // border: 1px solid var(--grey-2);
    border-radius: 5px;
    padding: 16px 16px 24px;
    width: max-content;
    min-width: 240px;
    background-color: var(--submenu-bg);
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 4px 12px 0 rgba(0, 4, 4, 0.12);
    transform: translateY(8%);
    transition:
      opacity var(--transition-300),
      transform var(--transition-300),
      visibility var(--transition-300);

    @include tablet {
      position: static;
      top: auto;
      left: auto;
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin: 0;
      border: none;
      border-radius: 0;
      padding: 0;
      width: 100%;
      max-width: 100%;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transform: none;
      box-shadow: none;
      background-color: transparent;
      overflow: hidden;
      transition:
        max-height var(--transition-300),
        opacity var(--transition-300),
        padding var(--transition-300),
        margin var(--transition-300);
    }
  }

  & .sub-menu .ui-link {
    @include tablet {
      font-size: 16px;
      font-weight: 400;
      color: var(--white-60);
      transition: color ar(--transition-300);

      @include hover {
        color: var(--accent-pink);
      }

      &:focus-visible,
      &:active {
        outline: none;
        color: var(--accent-pink);
      }
    }
  }

  & [data-dropdown].is-open > .sub-menu {
    min-height: 172px;
    transform: translateY(0);

    @include tablet {
      max-height: 1000px;
      min-height: auto;
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  // Кнопка закрытия бургера
  &__close-btn {
    position: absolute;
    top: 10px;
    right: 16px;
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--bg-dark-grey);
    border: none;
    cursor: pointer;
    transition: background-color var(--transition-300);

    @include tablet {
      display: flex;
    }

    &:hover {
      background-color: var(--accent-green);
    }

    &:focus {
      outline: none;
      background-color: var(--accent-green);
    }

    @include mobile {
      top: 4px;
    }

    & svg {
      width: 17px;
      height: 17px;
      stroke: var(--white);
      stroke-width: 1.43px;
    }
  }
}
