.searchbar {
  --search-size: 56px;

  @media (max-width: 640px) {
    --search-size: 40px;
  }
  &__btn {
    display: none;
    align-items: center;
    justify-content: center;
    width: var(--search-size);
    height: var(--search-size);
    padding: 11.5px;
    color: var(--white);
    background: var(--bg-dark-grey);
    border-radius: 3.6px;
    transition: background-color var(--transition-300);

    &:hover {
      background-color: var(--accent-green);
    }

    &:focus {
      outline: none;
      background-color: var(--accent-green);
    }

    @include tablet-md {
      display: flex;
    }

    & svg {
      width: 16px;
      height: 16px;
      stroke-width: 1.3px;
      fill: none;
      stroke: var(--white);

      @media (max-width: 640px) {
        width: 12px;
        height: 12px;
      }
    }
  }
}
