.searchbar {
   &__btn {
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      padding: 11.5px;
      color: var(--white);
      background: var(--bg-dark-grey);
      border-radius: 3.6px;
      transition: background-color var(--transition-300);

      &:hover {
         background-color: var(--accent-green);
      }

      &:focus {
         outline: none;
         background-color: var(--accent-green);
      }

      @media (max-width: 510px) {
         display: flex;
      }

      & svg {
         width: 12px;
         height: 12px;
         stroke-width: 1.3px;
         fill: none;
         stroke: var(--white);
      }
   }
}