.sec-offset {
  --sec-mb: 140px;
  margin-bottom: var(--sec-mb);

  @include desktop {
    --sec-mb: 120px;
  }

  @include tablet {
    --sec-mb: 100px;
  }

  @include tablet-md {
    --sec-mb: 70px;
  }
}
