.sec-title {
  --title-color: var(--white);
  --title-mb: 40px;
  --title-position: left;
  margin-top: 0;
  margin-bottom: var(--title-mb);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 58px;
  line-height: 100%;
  text-align: var(--title-position);
  color: var(--title-color);

  @include mobile {
    font-size: 28px;
  }

  @include mobile-xs {
    --title-mb: 34px;
    font-size: 24px;
  }

  &--center {
    --title-position: center;
  }
}
