.ui-btn {
  --btn-bg: var(--accent-green);
  --btn-bg-hover: var(--accent-light-green);
  --btn-bg-active: var(--accent-dark-green);
  --btn-outline-offset: 4px;
  --btn-outline-color: var(--outline-color);
  --btn-border-radius: 5px;
  --btn-ff: var(--font-family);
  --btn-fw: 800;
  --btn-fz: 18px;
  --btn-lh: 1;
  --btn-color: var(--white);

  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: var(--btn-border-radius);
  padding: 1.725em 4.145em;
  font-family: var(--btn-ff);
  font-weight: var(--btn-fw);
  font-size: var(--btn-fz);
  line-height: var(--btn-lh);
  letter-spacing: 0;
  white-space: nowrap;
  text-align: center;
  color: var(--btn-color);
  text-transform: uppercase;
  background-color: var(--btn-bg);
  cursor: pointer;
  transition:
    outline var(--transition-300),
    background-color var(--transition-300),
    transform var(--transition-300);

  @include tablet {
    padding: 28px;
  }

  @include tablet-md {
    padding: 24px;
    --btn-fz: 16px;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline-offset: var(--outline-offset);
    outline: 2px solid var(--outline-color);
  }
  @include hover {
    background-color: var(--btn-bg-hover);
  }
  &:focus-visible {
    outline: none;
    background-color: var(--btn-bg-hover);
  }
  &:active {
    background-color: var(--btn-bg-active);
    transform: scale(99.5%);
  }

  & svg {
    flex: none;
    width: auto;
    height: 1.3cap;
    fill: currentColor;
    user-select: none;
  }

  // &--icon {}
}
